.section {
    border: 1px solid #b2e097;

    .title {
        background-color: #daffc5;
        border-bottom: 1px solid #b2e097;
        font-size: 20px;
        padding: 5px 10px;
        font-weight: 700;
    }
    .inner {
        padding: 10px;
    }
}
