.route-plants {
    height: 100%;
    // text-align: center;
    // height: 100vh;
    // height: calc(100vh - 4rem);

    p {
        margin: 0px;
    }

    .overlay {
        padding: 10px;
        background-color: rgba($color: #ffffff, $alpha: 0.9);
    }
}

.cmp-plants-list {
    .plants {
        // outline: blue 1px solid;

        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        max-width: 400px;

        // display: 'grid',
        // gridTemplateColumns: `repeat(3, 1fr)`,
        // maxWidth: (3 * (300 + 40)),
        @media only screen and (min-width: 900px) {
            grid-template-columns: repeat(2, 1fr);
                max-width: 800px;
        }
    }
   

    // @media only screen and (min-resolution: 192dpi) {
    //     /* Style stuff */

    //     grid-template-columns: repeat(2, 1fr);
    //     max-width: 800px;
    // }
}

.cmp-filters {
    // outline: red 1px solid;
    background-color: #ffffff;
    max-width: 400px;
    // width: auto;

    // max-width: auto;
    margin: 0 auto;

    .inner {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 10px;

        .icon {
            width: 30px;
            margin-right: 20px;
            // margin-left: 20px;
        }
        .delete {
            width: 30px;
            margin-left: 20px;
        }
    }
    .filters {
        background-color: #eeeeee;
        overflow: hidden;
        max-height: 0px;
        transition: all 0.5s linear;
        &.active {
            max-height: 500px;
        }
    }
}
