

.route-login {

    .overlay {
        width: 300px;
        padding: 10px;
        background-color: rgba($color: #ffffff, $alpha: 0.9);
        margin: 0 auto;
    }
    .divider {
        margin: 10px 0px;
    }
}